body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  height: 100vh;
  background: linear-gradient(-45deg, #00c6ff, #7b2ff7, #ff00cc, #3333ff);
  background-size: 400% 400%;
  animation: gradientBG 12s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  padding: 40px;
  border-radius: 20px;
  width: 380px;
  text-align: center;
  box-shadow: 0 8px 30px rgba(0,0,0,0.3);
  color: white;
}

.card h2 {
  margin-bottom: 20px;
}

.card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.phone-row {
  display: flex;
  gap: 10px;
}

.code {
  width: 30%;
}

.phone {
  width: 70%;
}

.card button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(45deg, #ff00cc, #3333ff);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  transform: scale(1.05);
}
